body {
    background-image: url(../img/fondo.png);
    color: #fff;
    padding-top: 56px;
}

header {
    background: #9aca40;
    text-align: center;
    margin-bottom: 20px;
}

header > .col {
    padding: 0px;
}

.dropdown-menu > a:hover {
    background: #545a63;
    color: #fff;
}

/* .fm-nav a{
    color: #fff;
    padding: 15px;
}

.fm-nav a:hover {
    background: rgba(255, 255, 255, .1)
}

.fm-nav .disabled {
    color:  rgba(255, 255, 255, .5)
} */

.container-main {
    margin-bottom: 20px;

}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0px;
}

aside {
    background: #dee5e8; 
    padding: 60px 0;
    color:  #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px; 
}

.widgets > div{
     background: #2196f3;
     color: #fff;
     padding: 20px; 
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}