body {
    background-image: url(../img/fondo.png);
    padding-top: 56px;
    overflow-x: hidden; 
}

header {
    background: #9aca40;
    text-align: center;
    margin-bottom: 20px;
}

header > .col {
    padding: 0px;
}

.dropdown-menu > a:hover {
    background: #545a63;
    color: #fff;
}



footer {
    padding: 20px 0;
    background: #1e1e1e;
}



/*****************globals*************/

  
  
  
  /*# sourceMappingURL=style.css.map */